@charset "UTF-8";

body{
    margin: 0px;
    min-height: 100vh;
}
header{
    text-align: center;
    background-color: black;
    color: white;
    height: 150px;
    margin: 0px;
}
h1{
    margin-top: 0px;
    font-variant: small-caps;
}
a{
    color: white;
}
div.conteudo{
    text-indent: 20px;
    font-size: 26px;
}
section.parallax{
    padding-top: 10vh;
    width: 100%;
    height: 500px;
    position: relative;
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
.parallax-content{
    position: absolute;
    text-indent: 16px;
    color: white;
    font-size: 26px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.315);
}
section.parallax2{
    padding-top: 10vh;
    width: 100%;
    height: 500px;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    position: relative;
}
.parallax-content2{
    color: black;
    position: absolute;
    text-indent: 16px;
    font-size: 26px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.150);
}